<div class="flex">
    <form [formGroup]="productForm">
        <h1>Add Product</h1><br>
        <div class="flex">
            <div>
                <mat-label>Product Name</mat-label>
                <mat-form-field>
                    <input matInput type="text" formControlName="name">
                </mat-form-field>
            </div>
            <div>
                <mat-label>Brand Name</mat-label>
                <mat-form-field>
                    <mat-select matInput type="text" formControlName="brandId">
                        @for (brand of brands; track $index) {
                            <mat-option [value]="brand.id">{{brand.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-label>Purchase Price</mat-label>
                <mat-form-field>
                    <input matInput type="text" formControlName="purchasePrice">
                </mat-form-field>
            </div>
            <div>
                <mat-label>Sale Price</mat-label>
                <mat-form-field>
                    <input matInput type="text" formControlName="salePrice">
                </mat-form-field>
            </div>
            <div>
                <mat-label>AvailableQuantity</mat-label>
                <mat-form-field>
                    <input matInput type="text" formControlName="availableQuantity">
                </mat-form-field>
            </div>
            <div>
                <button (click)="addProduct()">Add</button>
            </div>
        </div>
    </form>
</div>
