<div class="flex">
    <div class="w-4/12">
        <mat-card>
            <mat-card-content>
                <h4>Total Products</h4>
                <h6>{{ totalProducts }}</h6>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="w-4/12">
        <mat-card-content>
            <h4>Total Orders</h4>
            <h6>{{ totalOrders }}</h6>
        </mat-card-content>
    </div>
    <div class="w-4/12">
        <mat-card-content>
            <h4>Total Brands</h4>
            <h6>{{ totalBrands }}</h6>
        </mat-card-content>
    </div>
</div>